body {
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(99, 45, 45, 0.5);
  font-family: "Roboto", sans-serif;
  color: rgb(88, 98, 153);
  height: 100%;
  background-image: url("https://imgur.com/t/otters/8BhfXH4");
  background-size: cover;
  font-weight: 100;
}
