<head>
  <h1>THIS IS HTML</h1>
</head>
<body>
  <div>
    <p>Enter your email to join <b>518</b> Others.</p>
  </div>
  <div>
    <form action="/register" method="post">
      <input type="text" class="form" placeholder="Enter your email" />
      <button>Join Now</button>
    </form>
  </div>
</body>
